{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>About SMARTEMBED</h1>
     <p><font size="3">SMARTEMBED is an automated web service tool, which can help Solidity developers to find repetitive contract code and clone-related bugs in smart contracts.</font></p>
       
     <h1>Contact Us</h1>
     <p><font size="3">Please feel free to reach us with any comments, suggestions and complaints at <a href="mailto:zhipeng.gao@monash.edu">Zhipeng Gao</a> or <a href="mailto:vinojmh@smu.edu.sg">Vinoj Jayasundara</a>. </font></p>
   </div>
 {% endblock %}